body {
  background-color: #77bb41;
  padding: 0;
  margin: 0;
}

ul, ul li {
  margin: 0;
}

ul {
  margin-left: -50px;
}

li {
  outline-offset: 5px;
  list-style-type: none;
  display: block;
  height: 220px;
  width: 220px;
  float: left;
  background: url('images/empty.png') center center no-repeat;
  border: 2px solid transparent;
}

li img {
  margin-top: -92px;
}

.number {
  font-size: 80px;
  font-weight: bold;
  position: relative;
  top: 120px;
  left: 20px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

#ad {
  position: absolute;
  margin: auto;
  bottom: 0px;
  right: 0px;
  width: 45%;
}

.text {
  font-size: 40px;
}

.break {
  display: block;
  width: 100%;
  clear: both;
}


#li0 {
  width: 330px !important;
  height: 110px !important;
  background-image: url('images/empty0.png');
}

#li0 .number {
  top: 20px;
}
